body {
	padding: 40px;
	width: 1280px;
	height: 720px;
	overflow: hidden;
}


/* Wrap */
#wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
}


/* Lobby View */
.lobby-container {

}


/* Quiz View */
.quiz-container {
	height: 540px;
}
.players-container {
	height: 100px;
}
.player {
	height: 100%;
	color: black;
	background: yellow;
	border: 5px solid black;
}
.player-name {

}
.player-score {

}