<div class="row">
	<div class="col-sm-3 player">
		<span class="player-score">{{ player1.score }}
		<span class="player-name">{{ player1.name }}
	</div>
	<div class="col-sm-3 player">
		<span class="player-score">{{ player2.score }}
		<span class="player-name">{{ player2.name }}
	</div>
	<div class="col-sm-3 player">
		<span class="player-score">{{ player3.score }}
		<span class="player-name">{{ player3.name }}
	</div>
	<div class="col-sm-3 player">
		<span class="player-score">{{ player4.score }}
		<span class="player-name">{{ player4.name }}
	</div>
</div>