<div class="row" ng-switch on="gameState">
    <div style="opacity:0;width:20%;top:50%;left:40%;position:fixed;background:black;z-index:1;text-align:center" id="question-splash">QUESTION 1</div>

    <div ng-switch-when="NONTHING" class="full-size">

    </div>
    <div ng-switch-when="TITLE" class="big-shadow-font title-text full-size">
        <audio loop="loop" autoplay="autoplay">
            <source src="audio/POL-online-deal-short.wav" />
        </audio>
        <div class="title-relative scoreboard-name correct" style="font-size:50px">Welcome</div>
        <div class="title-relative" style="font-size:50px">to</div>
        <div class="title-relative animated infinite bounce" style="font-size:200px;">Q-Wizzle</div>


    </div>
    <div ng-switch-when="LOBBY" class="fadeDown row">

        <div class="col-md-8 lobby-text">
            <div class="row">
                <div class="col-md-12 big-shadow-font">A new game has been created!</div>
            </div>
            <div class="row">
                <div class="col-md-12 big-shadow-font">Once all of the players have joined press start!</div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="scoreboard-container tan-box">
                <div class="scoreboard-title">Scoreboard</div>
                <div ng-repeat='(key, prop) in players track by key' class="row" id="{{ players[key].name }}">
                    <div class="col-md-2 scoreboard-score">{{ players[key].score }}</div>
                    <div class="col-md-8 scoreboard-name">{{ players[key].name }}</div>
                    <img class="col-md-2" style="height:30px" ng-if="players[key].answered" src="images/check.ico" />

                </div>
            </div>
        </div>

    </div>
    <div ng-switch-when="STARTED" class="fadeDown full-size">

        <div class="row">
            <div class="col-md-8">Quiz Cast by Michael Allon</div>
            <div class="col-md-4">
                <div class="tan-box header-timer">
                    {{ timer }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

                <div class="question-container tan-box">
                    <p class="question">{{ currentQuestion.question }}</p>
                </div>

                <div class="answer-container">
                    <div ng-repeat='choice in currentQuestion.choices' class="my-repeat-animation answer tan-box">
                        {{ choice }}
                    </div>
                </div>


            </div>
            <div class="col-md-4">

                <div class="scoreboard-container tan-box">
                    <div class="scoreboard-title">Scoreboard</div>
                    <div ng-repeat='(key, prop) in players track by key' class="row player-row" id="{{ players[key].name }}">
                        <div class="col-md-2 scoreboard-score">{{ players[key].score }}</div>
                        <div class="col-md-8 scoreboard-name">{{ players[key].name }}</div>
                        <img class="col-md-2" style="height:30px" ng-if="players[key].answered" src="images/check.ico" />

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-switch-when="GAME_OVER" class="full-size">
        <div class="winner-text big-shadow-font">{{ winner }} has won the game!</div>
        <div>
            <div ng-repeat="display in displayPlayer" class="my-repeat-animation">
                <div>Name: {{display.name}}</div>
                <div>Score: {{display.score}}</div>
                <div>Correct Answers: {{display.correct}}</div>
                <div>Incorrect Answers: {{display.incorrect}}</div>
            </div>
        </div>
    </div>

</div>
